extends ../layout.jade
block contenido
	h1(class="fjalla") Benvingut, 
		span(class="myblue") #{name}
		| !
	div(class="row")
		div(class="col-sm-3")
		div(class="col-sm-6")
			div(class="row")
				div(class="col-sm text-center")
					a(href="/books/library" class="text-body arvo navi") Biblioteca
				div(class="col-sm text-center")
					a(href="/books/search" class="text-body arvo navi") Buscar
				div(class="col-sm text-center")
					a(href="/books/new" class="text-body arvo navi") Afegir LLibre
				div(class="col-sm text-center")
					a(href="/books" class="text-body arvo navi") Administrar la biblioteca
	br
	br
	div(class="row")
		div(class="col-md-4")
		div(class="col-md-4")
			div(class="museum")
				form(method="POST" action="/books")
					h2(class="fjalla") .nou llibre
					h2(class="fjalla red")
						if(message)
							#alert
							p= message
					div(class="form-item")
						label(for="nom")
						input(type="text" name="title" placeholder="Nom del llibre" class="capitalize" autofocus)
					div(class="form-item")
						label(for="autor")
						input(type="text" name="author" placeholder="Nom de l'autor" class="capitalize")
					div(class="form-item")
						label(for="editorial")
						input(type="text" name="editorial" placeholder="Editorial" class="arvo" class="capitalize")
					div(class="form-item")
						label(for="read")
						input(type="text" name="read"  placeholder="L'he llegit? Si/No" onkeyup="this.value=this.value.toUpperCase()")
					div(class="form-item")
						label(for="pages")
						input(type="text" name="pages" placeholder="Nº de pàgines")
					div(class="form-item")
						label(for="category")
						input(type="text" name="category" placeholder="Temàtica (Històrica/Esports/Biografía...)" class="capitalize")
					div(class="row")
							div(class="col-sm-6")
								div(class="form-item")
									label(for="deixat")
									input(type="text" name="deixat" placeholder="L'he deixat? Si/No" onkeyup="this.value=this.value.toUpperCase()")
							div(class="col-sm-6")
								div(class="form-item")
									label(for="who")
									input(type="text" name="who" placeholder="A qui?" class="capitalize" )
					div(class="form-item")
						label(class="comments")
						input(class="text" name="comments" placeholder="Comentaris" rows="24" )
					div(class="button-panel")
						input(type="submit" class="arvo button" value="Guardar")
