extends ../layout.jade
block contenido
	div(class="col-md-5 center-block no-float top-space text-left")
		h1 LOGIN ADMINS
		form(method="POST" action="/admin" style="margin-top:1.5em;")
			div(class="form-group")
				label Contrasenya
				input(type="password" name="password" placeholder="Contrasenya d'administrador" class="form-control")
			div(class="form-group text-right")
				input(type="submit" class="btn btn-info" value="Guardar")