extends ../layoutf.jade
block contenido
  h1(class="fjalla") SOBRE VIRTUAL BOOKS    
  div(class="row")
    div(class="col-sm-3")
    div(class="col-sm-6")
      div(class="museum")
        p(class="arvo") La fotografia de fons de la portada de Virtual Books pertany a 
          a(href="https://unsplash.com/photos/_M-DrbiNFa4" target="_blank") Eli Francis.
        p(class="arvo") Aquí anirà un recull de les cites i mencions que vagi recollint Virtual Books, que té un camí per endavant on la gloria i el reconeixement en seràn els protagonistes.
