extends ../layoutf.jade
block contenido
  h1(class="fjalla") FUNCIONAMENT DE VIRTUAL BOOKS    
  div(class="row")
    div(class="col-sm-3")
    div(class="col-sm-6")
      div(class="museum")
        p(class="arvo") Virtual Books és la teva biblioteca virtual. 
        p(class="arvo") T'ofereix un control total de tots els teus llibres. 
        div(class="row")
          div(class="col-sm-3")
            p(class="arvo") 
              span(class="font-weight-bold myblue") Biblioteca
              |, on podràs consultar tots els teus llibres, i ordenar-los.
          div(class="col-sm-3")
            p(class="arvo")
              span(class="font-weight-bold myblue") Buscar un llibre
              |, un buscador on podràs podràs remenar per a trobar la teva pròxima lectura.
          div(class="col-sm-3")
            p(class="arvo") 
              span(class="font-weight-bold myblue") Afegir llibre
              |, per augmentar la teva biblioteca
          div(class="col-sm-3")
            p(class="arvo")
              span(class="font-weight-bold myblue") Gestionar la Bibloteca
              |, per a modificar o eliminar aquells llibres que has deixat i no han tornat mai. 
  
