extends ../layoutf.jade
block contenido
  h1(class="fjalla") POLÍTICA DE PRIVACITAT    
  div(class="row")
    div(class="col-sm-3")
    div(class="col-sm-6")
      div(class="museum")
        p(class="arvo") Virtual Books garanteïx que no farà servir les teves dades personals per a res, més enllà del registre a l'aplicació.
        p(class="arvo") Virtual Books ni ven ni factura, per tant, no necessita dades certes per a res. It's all on your hands. 
